/* CSS stylesheet */

/* without classes */
body {
	background-color: black;
	color: white;
	font-family: 'CG Times', 'Times New Roman', 'Times New', 'Times Roman', times, serif;
	margin-top: 0;
}

h1,h2,h3,li,p,a {
	color: white;
	font-family: 'CG Times', 'Times New Roman', 'Times New', 'Times Roman', times, serif;
}

h1,h2,h3 {
    text-align: center;
}

div {
	margin: 24px 80px;
	display: block;
}

p {
	display: inherit;
	/* font-size: 16px */
}

ul {
	padding-left: 0;
}

/* base classes */
p.subheader {
    font-style: italic;
	text-align: center;
	margin-top: -16px;
}

nav.container {
	display: inline;
}

div.anchor {
	margin: 8px 80px 48px 80px;
}

.hidden {
	display: none;
}

/* specific classes */
/* .header */
div.header {
	margin: 0;
	position: sticky;
	top: 0;
	background-color: black;
	border-bottom: #feed56 1px solid;
	padding: 8px;
}

table.header {
	position: inherit;
	margin: 0 1.5pc;
	display: inline;
}

span.header {
	display: inline;
	font-size: 17px;
	position: inherit;
	margin: 48px;
}

p.header {
	display: inherit;
	margin: 24px;
	vertical-align: middle;
}
	
/* .intro */
p.intro {
	font-size: large;
	text-align: center;
}

/* .contact */
address.contact {
	/*font-size: large;*/
}

li.contact {
	display: inline;
	margin: 48px;
	font-size: larger;
	font-style: bold;
}

/* .record */
div.record {
	/*margin-top: 48px;*/
}

div.record > h1, address.contact > h1 {
	/*margin-bottom: 0.33em;*/
}

/* .media */
ul.media {
	list-style-type: '-';
	margin: 0 24px;
}

/* .footer */
div.footer {
	margin: 16px 0 0;
	font-size: small;
	/*text-align: center;*/
}

/* other classes */
/* .error */
h1.error {
	font-size: 32pt;
	font-weight: bolder;
	color: #feed56;
}
p.error {
	text-align: center;
	font-size: 18pt;
}

/* .privacy */
a.privacy {
	font-weight: bold;
}