/* @media stylesheet */

/* For print */
@media print {
	
    /* without classes */
	body {
		background-color: white;
		color: black;
	}
	
	h1,h2,h3,li,p,a {
		color: black;
	}
	
	div {
		margin-left: 0;
		margin-right: 0;
	}
	
	/* all classes */	
	div.container {
		display:none;
	}
	
	li.contact {
		margin: 2.5pc;
	}
	
	div.header {
		background-color: white;
		border-bottom: black 1px solid;
		position: static;
	}
	
	p.intro {
		margin-left: 5pc;
		margin-right: 5pc;
	}
	
	/* identifiers */
	div#bio {
		break-before: page;
		margin: 0;
	}
	
	/* other */
	div.form, div#form {
		display:none;
	}
}

@media screen and (width: 1366px) {
	body {
		/* display:none; */
	}
}