/* @media stylesheet */

/* For print */
@media print {
	
    /* without classes */
	body {
		background-color: white;
		color: black;
	}
	
	h1,h2,h3,li,p,a {
		color: black;
	}
	
	div {
		margin-left: 0;
		margin-right: 0;
	}
	
	/* all classes */	
	div.container {
		display:none;
	}
	
	li.contact {
		margin: 2.5pc;
	}
	
	/* other */
	div.form, div#form {
		display:none;
	}
}